/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
  padding: 0;
  margin: 0;
}

div{
  box-sizing: border-box;
}

header{
  background-color: #eaeaea;
  height: 166px;
  width: 1820px;
}

nav{
  font-size: 20px;
  margin-top: 37px;
}

.logo{
  margin-top: 54px;
}

.container{
  width: 64%;
  margin: 0 auto;
  position: relative;
}

a:link {
  text-decoration: none;
  color: #282828;
}

.headers {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 20px;
}

.subheaders{
  display: flex;
  flex-direction: column;
  height:42px;
  width:40%;
}

.contacts {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 9px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  align-items: center;
}

.menu{
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  font-family: "PT Sans";
  margin-right: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  align-items: center;
}

.background-image {
  width: 1820px;
  height: 766px;
}

.sec1{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.create{
  color: white;
  width: 50%;
}

.create h2{
  text-transform: capitalize;
  font-family: "Helvetica Neue";
  margin-bottom: 20px;
}

.create p{
  font-family: HelveticaNeueCyr;
  font-weight: lighter;
}

.button{
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 22px;
  width: 190px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin-top: 30px;
}

.button:hover{
  transition: all .3s linear;
  background-color: white;
  color: #ee252d;
}

.headers2{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.progress{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: auto;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
}

.progress h2{
  text-align: center;
  font-size: 60px;
  font-family: "Helvetica Neue";
  color: #282828;
  text-transform: uppercase;
  width: 550px;
  margin-bottom: 0;
  margin-top: 0;
}

.p1{
  color: #959595;
  font-family: HelveticaNeueCyr;
  font-size: 25px;
  margin: 0;
  text-align: center;
  letter-spacing: -0.5px;
}


.products{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  font-family: HelveticaNeueCyr;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #282828;
  justify-content: center;
  width: 100%;
}

.products p{
  margin: 2%;
}

.steps{
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: 403px;
  width: 1170px;
  margin: 55px auto 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.steps div{
  margin: auto;
  margin-top: 0;
  float: left;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.icons{
  font-size: 120px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 180px;
  margin-top: 30px;
  color: #282828;
}

.icons h2{
  margin: 0;
}

.steps h3{
  font-size: 60px;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  margin: 0;
}

.steps p{
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  width: 90%;
  margin: 0;
  line-height: 1.2;
}

.legend{
  background-image: url("../img/bracket.png");
  background-position: center;
  text-decoration: none;
  width: 100%;
  height: 93px;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 36px;
  background-repeat: no-repeat;
  margin: 70px 0 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.legend p{
  color: #ffffff;
}

.feature{
  font-family: "Helvetica Neue";
  color: white;
  height: 60px;
  text-transform: uppercase;
  align-items: center;
  padding: 120px 0 0 0;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.feature h2{
  font-size: 60px;
  padding: 0 25px 0 25px;
}

.p2{
  font-family: HelveticaNeueCyr;
  font-weight: lighter;
  letter-spacing: -0.5px;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.feat{
  margin: 60px 0 0 0;
  width: 1170px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.blocks{
  width: 270px;
  height: 310px;
  background-color: white;
  position: relative;
}

.butimg{
  display: block;
  margin: 25% auto 0;
}

.button2 {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 270px;
  bottom: 20px;
  position: absolute;
  right: 0;
  left: 0;
}

.feat a{
  text-transform: uppercase;
  background-color: #ee2d35;
  text-decoration: none;
  color: white;
  font-family: HelveticaNeueCyr;
  font-weight: lighter;
  font-size: 18px;
  width: 111px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60px;
}

.slider a:hover{
  transform: scale(1.1);
  transition: all 200ms;
}

.points{
  width: 36px;
  height: 8px;
  padding: 0;
  display: inline-flex;
  justify-content: space-around;
}

.cb{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  padding: 0;
  border: none;
  background: #e3e7ed;
  transition: all .3s linear;
}

.cb:hover{
  background: #282828;
  color: #282828;
  transition: all 300ms;
}


.foot{
  margin: 0;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  text-transform: uppercase;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media screen and (max-width: 320px) {
  .logo {
    float:none;
    margin-top: 42px;
  }

}

